<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/allam</property>

        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">root</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.format_sql">true</property>
        <property name="hibernate.connection.pool_size">1</property>


        <!--**************** cache *********************-->
        <!-- To enable query cache, you need to specify one more additional configuration property. -->
        <property name="hibernate.cache.use_query_cache">true</property>
        <property name="hibernate.cache.use_second_level_cache">true</property>
        <property name="hibernate.cache.region.factory_class">org.hibernate.cache.ehcache.EhCacheRegionFactory
        </property>
        <property name="hibernate.javax.cache.provider">net.sf.ehcache.hibernate.EhCacheProvider</property>
        <mapping class="sample.app.Entities.Bank"/>
        <mapping class="sample.app.Entities.BankAccount"/>
        <mapping class="sample.app.Entities.Clients"/>
        <mapping class="sample.app.Entities.Maintable"/>
        <mapping class="sample.app.Entities.Notes"/>
        <mapping class="sample.app.Entities.Safe"/>
        <mapping class="sample.app.Entities.Users"/>

        <!-- DB schema will be updated if needed -->
        <!-- <property name="hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>