

.main{
    -fx-background-image: url("/images/30-large_default.jpg");
}

#tabpane {
    /*-fx-border-color: #3FE387;*/
    -fx-tab-min-width:120px;
    -fx-tab-max-width:120px;
    -fx-tab-min-height:50px;
    -fx-tab-max-height:50px;
    /*-fx-background-color:#3FE387 ;*/
}

.tab .tab-label {
    -fx-background-color: transparent;
    -fx-alignment: center;
    -fx-text-fill: #00ce9b;
    -fx-font-size: 17px;
    -fx-font-weight: bold;

}

.tab {
    -fx-background-color: #1f2e3c;
    -fx-background-insets: 0.0;
    -fx-background-radius: 0.0;
    -fx-padding: 12 40 12 35 ;

}
.cus_tab:hover , .cus_tab:selected ,.cus_tab:focused{
    -fx-border: 3 0 3 0 ;
}
.tab:selected , .tab:hover , .tab:focused , .tab:pressed {

    /*#FAFCFB*/
    -fx-background-color: #ecf0f1 ;
    -fx-background-insets: 0.0;
    -fx-border-width: 3 0 0 0;
    -fx-border-color: #3FE387;

}
.activeOne{
    -fx-background-color: #ecf0f1 ;
    -fx-background-insets: 0.0;
    -fx-border-width: 3 0 0 0;
    -fx-border-color: #3FE387;
}

.contenttab {
    -fx-border-color: #1f2e3c;
}

.tab:focused {

    -fx-border-color: #3FE387;

    -fx-focus-color: transparent;

}

.tab-pane *.tab-header-background {
    -fx-background-color: transparent;

}

.tab-pane:left *.tab-header-area {

    -fx-background-insets: 0 0 0 10;
    -fx-padding: 0.0em 0.0em 0.0em 0.0em;

}

.tab:selected .focus-indicator {

    -fx-focus-color: transparent;
    -fx-border-color: transparent;

}

.round-red {
    -fx-background-color: #2ed573;
    -fx-background-insets: 0;
}

.round-red:hover {
    -fx-background-color: #7bed9f;
}

/******************** table view *******************************/
/********************** tree table view ******************/
.tree-table-view {
    -fx-tree-table-color: rgba(0, 150, 0, 0.4);
    -fx-tree-table-rippler-color: rgba(255, 0, 0, 0.9);
    -fx-font-size: 14px;
    -fx-start-margin: 10;
}

.tree-table-view:focused .tree-table-row-cell:selected {
    -fx-background-color: #02c293;
    -fx-table-cell-border-color: -fx-tree-table-color;
}

.tree-table-view:focused .tree-table-row-cell:selected .tree-table-cell {
    -fx-text-fill: white;
}

.tree-table-view .jfx-rippler {
    -fx-rippler-fill: -fx-tree-table-rippler-color;
}

.tree-table-view .column-header,
.tree-table-view .column-header-background,
.tree-table-view .column-header-background .filler {
    -fx-background-color: TRANSPARENT;
}

.tree-table-view .column-header {
    -fx-border-width: 0 1 0 1;
    -fx-border-color: #F3F3F3;
}

.tree-table-view .column-header .label {
    -fx-text-fill: #02c293;
    -fx-padding: 16 0 16 0;
}

.tree-table-view .column-header .arrow, .tree-table-view .column-header .sort-order-dot {
    -fx-background-color: #949494;
}

.tree-table-view .column-header {
    -fx-border-width: 0 2 0 1;
}

.tree-table-view .column-header-background {
    -fx-border-width: 0 0.0 1 0;
    -fx-border-color: #F3F3F3;
}

.tree-table-view .tree-table-cell {
    -fx-border-width: 0 0 0 0;
    -fx-padding: 13 0 13 0;
    -fx-alignment: center;
    -fx-text-alignment: center;
}

.tree-table-view .column-overlay {
    -fx-background-color: -fx-tree-table-color;
}

.tree-table-view .column-resize-line, .tree-table-view .column-drag-header {
    -fx-background-color: -fx-tree-table-rippler-color;
}

.tree-table-view:focused {
    -fx-background-color: -fx-tree-table-color, -fx-box-border, -fx-control-inner-background;
    -fx-background-insets: -1.4, 0, 1;
    -fx-background-radius: 1.4, 0, 0;
    /*....*/
    -fx-padding: 1; /* 0.083333em; */
}

.tree-table-row-cell > .tree-disclosure-node > .arrow {
    -fx-background-color: -fx-text-fill;
    -fx-padding: 0.333333em 0.229em 0.333333em 0.229em; /* 4 */
    -fx-shape: "M 0 -3.5 L 4 0 L 0 3.5 z";
}

.tree-table-row-cell .jfx-text-field {
    -fx-focus-color: rgba(240, 40, 40,.6);
}



